@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
::highlight(speechify-paragraph-highlight) {
  background-color: rgba(107, 120, 252, 0.5);
}

::highlight(speechify-word-highlight) {
  background-color: #6b78fc;
}
